body{
    font-family: Arial, sans-serif;
}
#food-from{
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#food-log{
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#food-list{
    list-style: none;
    padding: 0;
    margin: 0;

}
#food-list li:last-child{
    border-bottom: none;
}
#daily-goal{
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
#progress-bar{
    width: 100%;
    height: 20px;
}